<section>
        <form class="form">
            <mat-form-field  appearance="fill">
              <mat-label>Email Id</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <button mat-icon-button [disabled]="!emailFormControl.valid" (click)="login()">
                <mat-icon>arrow_right_alt</mat-icon>
              </button>

          </form>
</section>